<p>当前时间：<%=Time.now%></p>
<div style="display: 'inline'">
  <% if cnt_pages > 1 then %>
    <% cnt_pages.times do |i| %>
      <%= "[" if (params[:page].nil? and i==0) or params[:page].to_i==i+1 %>
      <a href=<%="/dalaoju?page=#{i+1}"%>> <%=i+1%> </a>
      <%= "]" if (params[:page].nil? and i==0) or params[:page].to_i==i+1 %>
    <% end %>
  <% end %>
</div>

<table border="1">
  <tr>
    <th>时间</th>
    <th>状态</th>
  </tr>

  <% logs.each do |log| %>
    <tr>
      <td><%=log["created_at"].localtime.strftime("%Y-%-m-%-d %H:%M") if log["created_at"]%></td>
      <td>
        <p>ID：<strong><%=log["location"]%></strong>(<%=log["video_in_folder"]%>)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IP：<strong><%=log["ip"]%></strong>(<%=log["video_on_net"]%>)</p>
        <p>Status：<pre><%=log["performance"][0,60]%></pre></p>
      </td>
    </tr>
  <% end %>
</table>

